<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<form action="/" method="POST"> 
    <!-- Creating the parameter Username as type= "text"--> 
    <label>Username: </label> 
    <input type="text" placeholder="Name" name="username"><br><br> 
    <!-- Creating the parameter Email as type= "text"--> 
    <label>Email: </label> 
    <input type="email" placeholder="Email" name="email"><br><br> 
    <label>Age: </label> 
    <input type="text" placeholder="Age" name="age"><br><br> 
    <!-- Creating the parameter Email as type= "text"--> 
    <label>College: </label> 
    <input type="text" placeholder="College" name="college"><br><br> 
    <!-- Creating the submit button --> 
    <button>Submit</button> 
</form> 
</body>
</html>