<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<form action="/students" method="POST">  
    <label>Name: </label> 
    <input type="text" placeholder="Name" name="name" required="true"><br><br> 
    <label>Email: </label> 
    <input type="email" placeholder="Email" name="email" required="'true"><br><br> 
    <label>Age: </label> 
    <input type="text" placeholder="Age" name="age" required="'true"><br><br> 
    <label>College: </label> 
    <input type="text" placeholder="College" name="college" required="'true"><br><br> 
    <button>Add Student</button> 
</form> 
</body>
</html>