body{
    width: 100%;
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    margin: 0 auto;
}
input{
    width: 30%;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 3px;
}
label{
    text-align: start;
}
form{
    text-align: center;
    margin: 40px auto;
}
button{
    border: 1px solid green;
    color: black;
    font-size: medium;
    font-weight: bolder;
    border-radius: 5%;
    width: 20%;
    padding: 1%;
}

button:hover{
    background-color: #fff;
}
