<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>HomePage</title>
</head>
<body>
    <style>
        body {
            background-color: #e09129 !important;
        }
    </style>
    <header class="bg-white bg-opacity-5 text-white shadow-lg hidden md:block">
        <div class="container mx-auto flex items-center h-24">
          <a href="" class="flex items-center justify-center">
            <img class="h-16" src="https://bloggytalky.com/wp-content/uploads/2017/07/create-a-free-logo-design-logo-designs-design-a-free-logo-design-a-free-logo-alltech-just-free-logo-design-1068x974.png" alt="" />
            <span class="ml-4 uppercase font-black">User<br/>Diary</span>
          </a>
          <nav class="contents font-semibold text-base lg:text-lg">
            <ul class="mx-auto flex items-end">
              <!-- <li class="p-5 xl:p-8 active">
                <a href="">
                  <span>Home</span>
                </a>
              </li>
              <li class="p-5 xl:p-8">
                <a href="">
                  <span>About</span>
                </a>
              </li>
              <li class="p-5 xl:p-8">
                <a href="">
                  <span>Projects</span>
                </a>
              </li>
              <li class="p-5 xl:p-8">
                <a href="">
                  <span>Services</span>
                </a>
              </li>
              <li class="p-5 xl:p-8">
                <a href="">
                  <span>Blog</span>
                </a>
              </li> -->
              <li class="p-5 xl:p-8 active text-xl">
                <a href="/">
                    <span>Welcome to HomePage</span>
                </a>
                </li>
            </ul>
          </nav>
          <a href="/users/form">
            <button class="border border-white rounded-full font-bold px-8 py-2">Add User</button>
          </a>
        </div>
      </header>
</body>
</html>


<!-- component -->